.proimage {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 49px;
  top: 91px;

  border-radius: 50px;
}
.textarea {
  box-sizing: border-box;

  position: absolute;
  width: 542px;
  height: 30px;
  left: 91px;
  top: 91px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.shareButton {
  position: absolute;
  width: 83px;
  height: 21px;
  left: 646px;
  top: 97px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150.02%;
  /* or 17px */

  text-align: center;

  color: #ffffff;
}
